* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

/***************** nav bar start********************/
.nav_bg {
    background: #fff;
    box-shadow: 1px 1px 3px 2px #f0eded;
}

.nav-link {
    color: rgb(75, 72, 72);
    font-weight: 400;
    transition: 0.4s all;
}

.nav-link:hover {
    color: rgb(54, 177, 177);
}

.membership {
    display: flex
}

.seachersbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1em;
}

.fa-bag-shopping {
    font-size: 26px;
    padding-left: 20px;
}

/***************** nav bar end********************/

/***************** nav bar responsive start********************/
/* @media(max-width:1200px){
   .membership{
    display: none;
   }
} */
/***************** nav bar responsive  end********************/


/***************** hero area start********************/
.img_responsive {
    max-height: 530px;
}

.text-color {
    background: black;
}

/***************** hero area end********************/

/***************** best platform start********************/
.best-platform {
    background-color: rgb(35, 35, 102);
    padding: 2em;
    margin-bottom: 4em;
}

.best_platform_heading h1 {
    display: flex;
    align-self: center;
    justify-content: center;
    padding: 1em;
    color: #fff;
    font-size: 32px;
    font-weight: 600;
}

.best_platform_card {
    background-color: rgb(0, 255, 255);
    padding: 2em;
    border-radius: 10px;
    height: 170px;
}

.best_platform_card p,
.best_platform_card_2 p,
.best_platform_card_3 p {
    padding-top: 1em;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
}

.best_platform_card_responsive {
    display: flex;
    align-self: center;
    justify-content: center;
}

.best_platform_card_2 {
    background-color: rgb(191, 255, 0);
    padding: 2em;
    border-radius: 10px;
    height: 170px;
}

.best_platform_card_3 {
    background-color: rgb(255, 64, 0);
    padding: 2em;
    border-radius: 10px;
    height: 170px;
}

/***************** best platform  end********************/
@media(max-width:1200px) {
    .best-platform_responsive {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .best_platform_heading h1 {
        font-size: 26px;
    }
}

@media(max-width:992px) {
    .best-platform_responsive {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .best_platform_heading h1 {
        font-size: 26px;
    }
}

@media(max-width:768px) {
    .best-platform_responsive {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .best_platform_heading h1 {
        font-size: 26px;
    }
}

@media(max-width:576px) {
    .best-platform_responsive {
        display: grid;
        grid-template-columns: 1fr;
    }

    .best_platform_heading h1 {
        font-size: 28px;
    }
}

/********************** about us  start***********************/
.about_bg {
    margin-top: 4em;
}

.about_us h5 {
    padding-bottom: 1em;
    border-bottom: 1px solid red;
}

.about_us h1 {
    font-size: 58px;
    font-weight: 600;
}

.about_us p {
    font-size: 14px;
}

.about_us_btn {
    width: 200px;
    height: 50px;
    font-size: 18px;
    font-weight: 500;
    transition: 0.2s all;
}

.about_us_btn:hover {
    color: #fff;
    background: orangered;
}

.upcoming_event {
    background-image: url(/IMG/about_us.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.upcoming_event {
    padding: 2em;
}

.upcoming_event_content {
    background-color: #f8f6f6;
    border-bottom: 1px solid #c4bebe;
    opacity: 80%;
    padding: 1.5em;
}

.upcoming_child {
    display: flex;
    gap: 20px;
}

.upcoming_event_content h1 {
    font-size: 30px;
    color: black;
    font-weight: 600;
    padding-bottom: 1.5em;
}

.upcoming_event_content h5 {
    font-size: 14px;
}

.upcoming_event_content h5 .fa-calendar-days {
    padding-right: 5px;
    color: orange;
}

.upcoming_event_content a {
    text-decoration: none;
    color: black;
    font-size: 22px;
    transition: 0.5s all;
    font-weight: 600;
}

.upcoming_event_content a:hover {
    color: orange;
}

.upcoming_child .fa-clock {
    color: orangered;
}

.upcoming_child {
    font-size: 14px;
}

.upcoming_child .fa-location-crosshairs {
    color: orangered;
}

/********************** about us responsive start***********************/
@media(max-width:992px) {
    .upcoming_event_content h1 {
        font-size: 24px;
    }

    .upcoming_event_content a {
        font-size: 16px;
    }

    .upcoming_child {
        font-size: 10px;
    }

    .about_us h1 {
        font-size: 32px;
        font-weight: 600;
    }
}

@media(max-width:768px) {
    .upcoming_event_content h1 {
        font-size: 24px;
    }

    .upcoming_event_content a {
        font-size: 16px;
    }

    .upcoming_child {
        font-size: 10px;
    }

    .about_us h1 {
        font-size: 32px;
        font-weight: 600;
    }
}

@media(max-width:576px) {
    .upcoming_event_content h1 {
        font-size: 24px;
    }

    .upcoming_event_content a {
        font-size: 18px;
    }

    .upcoming_child {
        font-size: 10px;
    }

    .about_us h1 {
        font-size: 34px;
        font-weight: 600;
    }
}

/********************** about us  end***********************/

/********************** Apply page start***********************/
.apply_bg {
    background-color: #000033;
    margin-bottom: 2em;
}

.applyforfall {
    background-color: #000033;
    padding-top: 2em;
    padding-left: 2em;
    padding-bottom: 2em;
}

.applyforscholarship {
    background-color: #040447;
    padding-top: 2em;
    padding-left: 2em;
    padding-bottom: 2em;
}

.applyforfall h1,
.applyforscholarship h1 {
    color: #fff;
    font-size: 32px;
    padding-bottom: 1em;
    font-weight: 600;
}

.applyforfall p,
.applyforscholarship p {
    color: #fff;
    font-size: 16px;
    padding-bottom: 1em;
}

.apply_btn {
    width: 160px;
    height: 50px;
    color: #000033;
    font-size: 16px;
    font-weight: 600;
    transition: 0.4s ease-in-out;
}

.apply_btn:hover {
    color: #fff;
    background-color: #aa00ff;
}

/********************** Apply page  end***********************/

/********************** our course page start******************/

.our_course {
    background-color: #ddd;
    padding-bottom: 2em;
    padding-top: 2em;
}

.our_courses_card_1 {
    max-width: 400px;
    min-height: 350px;
    border-radius: 8px;
    background: linear-gradient(180deg, #FFD1CE 0%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0px 0px 10px 0px #00000040;
    position: relative;
    padding-bottom: 0.5em;
}

.our_course_heading h5 {
    color: #383636;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: .5em;
    border-bottom: 1px solid red;
    max-width: 150px;
}

.our_course_heading h1 {
    padding-bottom: 1em;
}

.our_courses_card_1 img {
    transition: 0.2s ease-in-out;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}


.star {
    padding-top: 1em;
    padding-left: 1.3em;
}

.star .fa-star {
    color: orange;
}

.our_courses_card_1 a {
    text-decoration: none;
}

.our_courses_card_1 h3 {
    padding: 16px;
    transition: 0.3s ease;
    padding-bottom: 0.9em;
    border-bottom: 1px solid #ddd;
    font-size: 24px;
    font-weight: 400;
    color: black;

}

.our_courses_card_1 h3:hover {
    color: orange;
}

.our-course-block {
    padding-left: 1em;
}

.our-course-block img {
    border-radius: 50%;
}

.our-course-block span {
    padding-left: 1em;
    font-size: 18px;
    font-weight: 600;
}

.react {
    position: absolute;
    bottom: 6px;
    right: 20px;
}

.fa-user {
    padding-right: 1em;
    transition: 0.2s all;
    font-size: 18px;
}

.fa-user:hover {
    color: orange;
}

.fa-heart {
    transition: 0.2s all;
    font-size: 18px;
}

.fa-heart:hover {
    color: orange;
}

.free {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #000033;
    font-weight: 600;
    position: absolute;
    bottom: 170px;
    right: 40px;
}

@media(max-width:1200px) {
    .free {
        bottom: 155px;
        right: 10px;
    }

    .our_courses_card_1 h3 {
        padding: 16px;
        transition: 0.3s ease;
        padding-bottom: 0.9em;
        border-bottom: 1px solid #ddd;
        font-size: 20px;
        font-weight: 400;
        color: black;

    }
}

@media(max-width:992px) {
    .offered_courses_name_responsive {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .free {
        bottom: 150px;
        right: 40px;
    }

    .our_course_responsive {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:768px) {
    .offered_courses_name_responsive {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .our_course_responsive {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .free {
        bottom: 155px;
        right: 40px;
    }
}

@media(max-width:576px) {
    .offered_courses_name_responsive {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .amily {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .free {
        bottom: 155px;
        right: 40px;
    }
}


/********************** our course page end***********************/

/************************Our Facilities start*************************/
.our_facilities {
    background: url(/IMG/our\ facilities.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 2em;
    min-height: 100vh;
    opacity: 85%;
}

.our_facilities_play a {
    text-decoration: none;
    color: #040447;
}

.our_facilities_play {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: orange;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center;
    transition: 0.2s ease;
}

.our_facilities_play:hover {
    background-color: orangered;
}

.fa-play {
    font-size: 32px;
}

.play_responsive {
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.global-certificate {
    display: flex;
    gap: 40px;

    align-items: center;

    justify-content: center;
}

.our_facilities_content {
    padding: 1em;
    background: #000d33;
    min-height: 100vh;
    opacity: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.our_facilities_content_responsive {
    display: flex;
    align-items: center;
    justify-content: center;
}

.global_content h3 {
    color: #fff;
}

.global_content p {
    color: #fff;
    padding-bottom: 2em;
    font-size: 16px;
}

@media(max-width:1200px) {
    .global_content p {
        font-size: 12px;
    }
}

/************************Our Facilities end*************************/

/************************Featured Teachers page start************************/
.featured_teachers_content h5 {
    font-size: 18px;
    padding-bottom: 1em;
    border-bottom: 1px solid red;
    max-width: 200px;
    font-weight: 500;
    color: black;
}

.featured_teachers_content h1 {
    font-size: 32px;
    padding-top: 1em;
    color: black;
}

.featured_teachers_content p {
    font-size: 16px;
    padding-top: 1em;
    color: black;
    padding-bottom: 1em;
}

.featured_teachers_btn {
    width: 200px;
    height: 50px;
    font-size: 16px;
    font-weight: 400;
    transition: 0.2s all;
    border: none;
}

.featured_teachers_btn:hover {
    color: orange;
    background: #000d33;
}

.teacher_name h2 {
    font-size: 20px;
    padding-top: 1em;
    transition: 0.2s all;
    color: black;
    font-weight: 500;
    cursor: pointer;
}

.teacher_name h2:hover {
    color: orange;
}

.teacher_name {
    font-size: 16px;
    color: black;
    font-weight: 400;
}

.featured_teacher_name_responsive {
    display: flex;
    align-items: center;
    justify-content: center;
}
@media(max-width:1200px) {
    /* .teachers_responsive{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    } */
    
}
/************************Featured Teachers page end*************************/

/************************Publications page start*************************/
.publication {
    background: #ddd;
    padding-bottom: 2em;
}

.publication_heading h5 {
    font-size: 18px;
    padding-bottom: 0.5em;
    border-bottom: 1px solid orange;
    max-width: 200px;
    font-weight: 500;
    color: black;
}

.publication_heading h1 {
    font-size: 32px;
    padding-top: 0.4em;
    color: black;
    padding-bottom: 1em;
    font-weight: 700;

}

.products_list {
    max-width: 400px;
    border-radius: 8px;
    background: linear-gradient(180deg, #FFD1CE 0%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0px 0px 10px 0px #00000040;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 1em;
    min-height: 350px;
}

.products_list h3 {
    font-size: 20px;
    padding-top: 0.5em;
    text-align: center;
    color: black;
}

.products_list p {
    font-size: 16px;
    text-align: center;
    color: black;
}

.publication_btn {
    font-size: 16px;
    font-weight: 400;
    transition: 0.1s all;
    border: none;
}

.publication_btn:hover {
    color: orange;
    background: #000d33;
}

.products_list span {
    padding-bottom: 0.5em;
}

@media(max-width:992px) {
    .products_list h3 {
        font-size: 14px;
        padding-top: 0.5em;
        text-align: center;
        color: black;
    }
}

@media(max-width:768px) {
    .publication_responsive {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .products_list_responsive {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width:576px) {
    .publication_responsive {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .products_list_responsive {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/************************Publications page end*************************/

/************************Testimonial page start*************************/
.testimonial {
    padding: 2em;
    background: url(/IMG/tttb.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.testimonial_bg {
    background: #000d33;
    opacity: 90%;
}

.testimonial_heading h5 {
    font-size: 18px;
    padding-bottom: 0.5em;
    border-bottom: 2px solid rgb(238, 233, 225);
    max-width: 200px;
    font-weight: 500;
    color: rgb(243, 235, 235);
}

.testimonial_heading h1 {
    font-size: 32px;
    padding-top: 0.4em;
    color: rgb(231, 225, 225);
    padding-bottom: 1em;
    font-weight: 700;
}

.whatsay {
    padding-bottom: 1em;
    display: flex;
    gap: 50px;
}

.quate_img {
    position: relative;
}

.quate_img img {
    border-radius: 5px;
}
.small{
    font-size: 14px;
    font-style: italic;
}
@media(max-width:576px) {
    .whatsay {
        padding-bottom: 1em;
        display: inline-block;
        gap: 50px;
    }
    .whatcontent{
        padding-top:1em;
    }
    .small{
        font-size: 12px;
    }
}

/************************Testimonial page end*************************/

/************************Latest News page start*************************/
.latest_news_heading h5 {
    font-size: 18px;
    padding-bottom: 0.5em;
    border-bottom: 2px solid rgb(226, 150, 9);
    max-width: 200px;
    font-weight: 500;
    color: rgb(27, 26, 26);
}

.latest_news_heading h1 {
    font-size: 32px;
    padding-top: 0.4em;
    color: rgb(26, 25, 25);
    padding-bottom: 1em;
    font-weight: 700;
}

.calendar_1 {
    padding-top: 1em;
}

.calendar_1 a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: rgb(119, 116, 116);
    transition: 0.1s all;
}

.calendar_1 a:hover {
    color: orange;
}

.calendar_1 a span {
    padding-left: 3em;
}

a .fa-calendar-days {
    color: orange;
}

.latest_news_tips a {
    text-decoration: none;
}

.latest_news_tips a h1 {
    text-decoration: none;
    font-size: 26px;
    font-weight: 500;
    color: rgb(44, 44, 44);
    transition: 0.1s all;
    padding-top: 1em;
}

.latest_news_tips a h1:hover {
    color: orange;
}

.latest_news_tips p {
    padding-top: 1em;
    font-size: 16px;
    color: black;
}

.latestnews_sidebar {
    display: flex;
    gap: 30px;
}

.calendar_2 a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: rgb(119, 116, 116);
    transition: 0.1s all;
}

.calendar_2 a span {
    padding-left: 3em;
}

.calendar_2 a:hover {
    color: orange;
}

.latestnews_sidebar a {
    text-decoration: none;
}

.latestnews_sidebar a h3 {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: rgb(44, 44, 44);
    transition: 0.1s all;
    padding-top: 0.5em;
}

.latestnews_sidebar a h3:hover {
    color: orange;
}

.latestnews_sidebar p {
    padding-top: 0.5em;
    font-size: 16px;
    color: black;
}

@media(max-width:1200px) {
    .latestnews_sidebar {
        display: inline-block;
        gap: 30px;
    }

    .calendar_2 {
        padding-top: 0.7em;
    }
}

@media(max-width:768px) {
    .latestnews_sidebar {
        display: inline-block;
        gap: 30px;
    }

    .calendar_2 {
        padding-top: 0.7em;
    }
}

@media(max-width:576px) {
    .latestnews_sidebar {
        display: inline-block;
        gap: 30px;
    }

    .calendar_2 {
        padding-top: 0.7em;
    }
}

/************************Latest News page end*************************/


/************************partne page start*************************/
.partner {
    background-color: #e6ffe6;
    padding: 2em 1em 2em 1em;
}

@media(max-width:768px) {
    .partner_responsive {
        display: flex;
        justify-content: center;
        align-items: center;

    }
}

@media(max-width:576px) {
    .partner_responsive {
        display: flex;
        justify-content: center;
        align-items: center;

    }
}

/************************partne page end*************************/

/************************ Footer page start*************************/
footer {
    background-color: #00004d;
    padding: 1em;
}

.footer_logo p {
    color: #fff;
    padding-top: 1.5em;
    font-size: 16px;
    font-weight: 400;
}

.footer_social_site {
    display: flex;
    gap: 20px;
    align-items: center;
}

.footer_social_site a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s all;
    font-size: 22px;
}

.footer_social_site a:hover {
    color: orange;
}

.site_map h4,
.site_map_gallary h4,
.support h4 {
    font-size: 25px;
    color: #fff;
    padding-bottom: 1em;
}

.site_map li,
.site_map_gallary li,
.support li {
    list-style: none;
}

.site_map li a,
.site_map_gallary li a,
.support li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    transition: 0.4s ease;
}

.site_map li a:hover,
.site_map_gallary li a:hover,
.support li a:hover {
    padding-left: 10px;
    color: orange;
}

.fa-angle-right {
    color: orange;
    font-size: 10px;
    padding-right: 5px;
}

.contact_us h4 {
    font-size: 25px;
    color: #fff;
    padding-bottom: 1em;
}

.phone,
.address,
.mail {
    color: #fff;
    font-size: 12px;
}

.fa-location-dot,
.fa-phone,
.fa-envelope {
    padding-right: 0.5em;
    font-size: 16px;
    color: orangered;
    padding-top: 0.5em;
}

.copyright_bg {
    background: #000033;
}

.copyright p {
    color: #fff;
    font-size: 10px;
}

.designer_name h4 {
    color: #fff;
    font-size: 14px;
}

@media(max-width:992px) {

    .footer_responsive,
    .copyright_bg {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:768px) {
    .footer_responsive {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:576px) {
    .footer_responsive {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .phone,
    .address,
    .mail {
        color: #fff;
        font-size: 10px;
    }

    .fa-location-dot,
    .fa-phone,
    .fa-envelope {
        padding-right: 0.5em;
        font-size: 10px;
        color: orangered;
        padding-top: 0.5em;
    }

    .site_map li a,
    .site_map_gallary li a,
    .support li a {
        text-decoration: none;
        color: #fff;
        font-size: 12px;
        transition: 0.4s ease;
    }
    .copyright p {
        color: #fff;
        font-size: 8px;
    }
    
    .designer_name h4 {
        color: #fff;
        font-size: 10px;
    }
}

/************************Footer page end*************************/